<?xml version="1.0" encoding="UTF-8"?>
<!--  $Id$ -->
<configuration>
<appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
	<layout class="ch.qos.logback.classic.PatternLayout">
		<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread, %file:%line] - %message%n</pattern>
	</layout>
	<Target>System.err</Target>
</appender>

<root>
	<level value="INFO" />
	<appender-ref ref="stderr" />
</root>

<logger name="de.ovgu.cs.milter4j"><level value="INFO"/></logger>
<logger name="de.ovgu.cs.milter4j.jmx"><level value="DEBUG"/></logger>
</configuration>